<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!--Favicon-->
<link rel="icon" 
      type="image/png" 
     href="{{url_for('static', filename='img/MyKitcheN.png')}}">
    <!-- Bootstrap CSS -->
  <script src="https://kit.fontawesome.com/97e327c4f9.js" crossorigin="anonymous"></script>
  

<link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous" />
    <link
      rel="stylesheet"
      href="{{url_for('static', filename='css/style.css')}}"
      type="text/css"/>
  
    <title>MyKitcheN</title>
  </head>

  
  <body>

    <!-- -NAVBAR- -->
    <div class="container-fluid col-sm-12 p-0">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand mx-auto" id="navbar"  href="{{url_for('get_recipes')}}">
        <img class="d-block w-100" src="{{url_for('static', filename='img/MyKitcheN100.png')}}" alt="Logo"/></a>
        <button
class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center"
          id="navbarSupportedContent">
          <ul class="navbar-nav m-2">
            <li class="nav-item active">
              <a class="nav-link" href="{{url_for('get_recipes')}}"
                >Home <span class="sr-only">(current)</span></a>
            </li>
          </ul>
              <ul class="navbar-nav m-2">
             <li class="nav-item">
              <a class="nav-link" href="{{url_for('get_index')}}">All recipes</a>
            </li>
          </ul>

<!--Search Dropdown -->
<ul id="menu" class="navbar-nav m-2 d-none d-lg-block"> 
  <li class="nav-item text-center">
 
  <li><a class="btn btn-outline-light dropdown-toggle " >Search Recipes</a>
    <ul class="dropdown-menu text-center">
      <li><div  class="dropdown-item">Serves</div>
      <div class="dropdown-divider"></div>
        <ul class="dropdown-menu text-center">
          <li  class="dropdown-item" ><a  class="btn btn-outline-light w-100" href="{{ url_for('search_by_serv', recipe_serv='2') }}">2</a></li>
          <div class="dropdown-divider"></div>
          <li  class="dropdown-item" ><a class="btn btn-outline-light w-100" href="{{ url_for('search_by_serv', recipe_serv='4') }}">4</a></li>
          <div class="dropdown-divider"></div>
            <li  class="dropdown-item"><a class="btn btn-outline-light w-100" href="{{ url_for('search_by_serv', recipe_serv='6') }}">6</a></li>
        </ul>
      </li>
      <li><div  class="dropdown-item">Difficulty</div>
      <div class="dropdown-divider"></div>
        <ul class="dropdown-menu text-center">
          <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_diff', recipe_diff='Easy') }}">Easy</a></li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_diff', recipe_diff='Medium') }}">Medium</a></li>
          <div class="dropdown-divider"></div>
          <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_diff', recipe_diff='Hard') }}">Hard</a></li>
        </ul>
      </li>
      <li ><div class="dropdown-item">Rate</div>
        <ul class="dropdown-menu text-center">
         <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_rate', recipe_rate='1') }}">Rating: 1</a></li>
         <div class="dropdown-divider"></div>
       <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_rate', recipe_rate='2') }}">Rating: 2</a></li>
       <div class="dropdown-divider"></div>
        <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_rate', recipe_rate='3') }}">Rating: 3</a></li>
        <div class="dropdown-divider"></div>
          <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_rate', recipe_rate='4') }}">Rating: 4</a></li>
          <div class="dropdown-divider"></div> 
       <li class="dropdown-item"><a class=" btn btn-outline-light w-100 " href="{{ url_for('search_by_rate', recipe_rate='5') }}">Rating: 5</a></li>
        </ul>
      </li>
    </ul>
  </li>
      </li>
</ul>

<!--End of Search-->
       
           <ul class="navbar-nav m-2 d-lg-none">
            <li class="nav-item">
        <!-- Button trigger modal -->
           <a type="button" class="" data-toggle="modal" data-target="#exampleModalCenter">Search Recipes</a>
      </li>
          </ul>

             <ul class="navbar-nav m-2">
             <li class="nav-item">
              <a class="nav-link" href="{{url_for('add_recipe')}}"
                >Add recipe</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('get_categories')}}"
                >Manage categories</a
              >
            </li>
           
    
   <li class="nav-item dropdown">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false">Sign in</a>
              <div class="dropdown-menu">
  <form class="px-4 py-3">
    <div class="form-group">
      <label for="exampleDropdownFormEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
    </div>
    <div class="form-group">
      <label for="exampleDropdownFormPassword1">Password</label>
      <input type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
    </div>
    <div class="form-check">
      <input type="checkbox" class="form-check-input" id="dropdownCheck">
      <label class="form-check-label" for="dropdownCheck">
        Remember me
      </label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
  </form>
  <div class="dropdown-divider"></div>
  <a class="dropdown-item" href="#">New around here? Sign up</a>
  <a class="dropdown-item" href="#">Forgot password?</a>
</div>
</li>
</ul>
   <ul class="navbar-nav m-2">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('get_shop')}}"
                >Shop </a>
            </li>
          </ul>
              <ul class="navbar-nav m-2">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('see_charts')}}">Charts</a>
            </li>
          </ul>
         
              <ul class="navbar-nav ml-10">
            <li class="nav-item">
          
<!-- Modal: modalPoll -->
            </li>
          </ul>
        </div>
      </nav>
    </div>
  <!--END of NAVBAR -->

<!--  Hidden Modal for small screen -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered " role="input">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Search by :</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

    <div class="modal-body  text-center">
     <div class="dropdown show">
  <a class="btn dropdown-toggle w-100 mb-2" href="#" role="button" id="dropdownMenuServ" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recipe by Serving
  </a>

  <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuServ">
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_serv', recipe_serv='2') }}">Serves 2</a></li>
<li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_serv', recipe_serv='4') }}">Serves 4</a></li>
   <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_serv', recipe_serv='6') }}">Serves 6</a></li>
  </div>
</div>


<div class="dropdown show">
  <a class="btn dropdown-toggle w-100 mb-2" href="#" role="button" id="dropdownMenuDiff" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recipe by Difficulty
  </a>

  <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuDiff">
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_diff', recipe_diff='Easy') }}">Easy</a></li>
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_diff', recipe_diff='Medium') }}">Medium</a></li>
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_diff', recipe_diff='Hard') }}">Hard</a></li>
  </div>
</div>


<div class="dropdown show">
  <a class="btn dropdown-toggle w-100 mb-2" href="#" role="button" id="dropdownMenuTime" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Recipe by Rate :
  </a>

  <div class="dropdown-menu w-100 text-center" aria-labelledby="dropdownMenuTime">
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_rate', recipe_rate='1') }}">Rating: 1</a></li>
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_rate', recipe_rate='2') }}">Rating: 2</a></li>
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_rate', recipe_rate='3') }}">Rating: 3</a></li>
     <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_rate', recipe_rate='4') }}">Rating: 4</a></li>
    <li><a class=" btn btn-primary w-100 " href="{{ url_for('search_by_rate', recipe_rate='5') }}">Rating: 5</a></li>
  </div>
</div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- END of HIDDEN MODAL -->

 <!-- Footer -->
<footer class="page-footer font-small mt-1">

  <!-- Footer Elements -->
  <div class="container col-12 text-center">
<h1 class="display-4" href="{{url_for('get_shop')}}">Visit our shop !</h1>
    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-lg-1 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-1 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/7155305_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-1 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/4257756_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-1 col-md-12 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/6068534_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-1 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/9201659_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-lg-1 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/8906175_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

      </div>
      <div class="col-lg-1 col-md-6 mb-4">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>
      <!--Grid column-->

      <div class="col-lg-1 col-md-6 mb-2">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}"> 
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>

    </div>
  
      <div class="col-lg-1 col-md-6 mb-2">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
      </div>

      <div class="col-lg-1 col-md-6 mb-2">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image"  href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
    </div>

  <div class="col-lg-1 col-md-6 mb-2">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item-image" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
  </div>
   <div class="col-lg-1 col-md-6 mb-2">

        <!--Image-->
        <div class="view overlay z-depth-1-half">
          <img src="https://media.4rgos.it/i/Argos/1327995_R_Z001A?w=1500&h=880&qlt=70&fmt=webp" class="img-fluid"
            alt="item" href="{{url_for('get_shop')}}">
          <a href="{{url_for('get_shop')}}">
            <div class="mask rgba-white-light"></div>
          </a>
        </div>
  </div>
    </div></div>
</footer>
<!-- Footer -->


    <div class="container col-lg-8 col-sm-12 mt-1">
      {% block content %} {% endblock %}
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous">
    </script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous">
      </script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script>
  $( function() {
    $( "#menu" ).menu();});
  
  </script>
  


 <!--UP BUTTON-->
  <div class="fixed-bottom">
 <a type="action" href="#navbar" id="up" class="btn btn-primary float-right m-2"><i class="fas fa-angle-up"></i></a>
 </div>
<!-- Footer -->

<div class="container col-lg-8 col-sm-12 mt-1">
  <div class="row">
      <div class="col-12">
        <div class="jumbotron text-center">

<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 ">

        <!-- Content -->
        
        <h5 class="text-uppercase">My KitcheN</h5>
        
       <img class="d-block w-10 float-left" src="{{url_for('static', filename='img/MyKitcheN50.png')}}" alt="Logo"/> <p class=" lead float"> This website is published by<strong> RobbieB</strong>.</p>

      </div>
      <!-- Grid column -->

  


      <!-- Grid column -->
      <div class="col-md-3 mb-md-0">

        <!-- Links -->
        <h5 class="text-uppercase">Contact :</h5>

        <ul class="list-unstyled">
          <li>
            <a href="http://robbieb.co.uk/#contact" class="btn w-100" target="_blank"><i class=" fab fa-internet-explorer"></i>Website</a>
          </li>
          <li>
            <a href="https://www.facebook.com/RobbieBWD/" class=" btn w-100" target="_blank"><i class="fab fa-facebook"></i> Facebook</a>
          </li>
          <li>
            <a href="https://github.com/robibrutoczki" class=" btn w-100" target="_blank"><i class=" fab fa-github"></i> GitHub</a>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/robi-brutoczki-28243a189/" class="btn w-100" target="_blank"><i class="fab fa-linkedin-in"></i> LinkedIn</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->


</footer></div></div></div></div>
<!-- Footer -->


  </body>
</html>
