{% extends 'base.html'%}{% block content %}


<div class="container mb-1">
<div class="row">
<div class="jumbotron jumbotron-fluid col-12 text-center">

<div class="btn-group btn-group-justified mb-2">
  <a href="{{url_for('get_shop')}}" class="btn btn-primary">All</a>
  <a  href="{{ url_for('search_by_cat', category_name='Pan')}}" class=" btn  btn-primaryt w-100 ">Pan</a>
    <a  href="{{ url_for('search_by_cat', category_name='Cooker')}}" class=" btn  btn-primaryt w-100 ">Cooker</a>
   <a  href="{{ url_for('search_by_cat', category_name='Hob')}}" class=" btn  btn-primaryt w-100 ">Hobs</a>
 
</div>
        <div class="card-columns">
          {% for item in shop %}

          <div class="card rounded">
            <a href="{{ url_for('show_item', item_id=item._id) }}">
              <img
                src="{{item.item_img}}"
                class="card-img-top"
                alt="Nice pic should be here"/>
            </a>

         
            <div class="card-body">
              <h5 class="card-title">{{item.item_name}}</h5>

              <a
                href="{{ url_for('show_item', item_id=item._id) }}"
                class="btn btn-primary"
                >Show Product</a>
            </div>
          </div>
          {% endfor %}
        </div></div>
</div></div>
  
  {% endblock %}

