{% extends 'base.html'%}{% block content %}

<div class="container mb-1">
<div class="row">
<div class="jumbotron jumbotron-fluid col-12 text-center">
  <div class="container text-center">
  <img src="{{recipe.recipe_url}}" class="card-img-top col-md-7" alt="Nice picture of food should be here..">
    <h1 class="display-4" id="namepoint"  data-target="#{{recipe.recipe_name}}">{{recipe.recipe_name}}</h1>
    <h4 class="display-6 mb-2">Rate : {{recipe.recipe_rate}}</h4>
 
    <div id="{{recipe.recipe_name}}">
     <div class="row">
      <div class="col-sm-6 mb-2">
        <div class="card">
          <div class="card-body">

            <h3 class="card-title">Ingrediens :</h3>
            <h5 class="card-title">
             <i class="fas fa-hand-sparkles"> </i>  {{recipe.recipe_diff}}
            </h5>
            <h5 class="card-title">
              <i class="fas fa-user-friends"> </i>  Serves  {{recipe.recipe_serv}}
            </h5>
            <p class="card-text">
              {{recipe.recipe_ingrediens}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <h3>Method :</h3>
            <h5 class="card-title">
              <i class="fas fa-hourglass-end"></i>  {{recipe.recipe_time}}
            </h5>
            <p class="card-text">
              {{recipe.recipe_met}}
            </p>
          </div>
        </div>
      </div>

      <a href="{{url_for('delete_recipe', recipe_id=recipe._id)}}" class="btn btn-primary ml-2">Delete</a>
      <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-primary ml-2">Edit</a>
        </div>
    </div>
  </div>
</div></div></div>




{% endblock %}
